:root{
    --primary-color: #af1313;
    --primary-color-darker: #520b0b;
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    padding: 0;
    margin: 0;
    background:  var(--primary-color);
    font-family: 'Montserrate';
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

form button:active{
    background: red;
}
.relogio{
    font-size: 3em;
}

.pausado{
    color:red;
}